2<footer class="site-footer">
    <div class="site-footer__inner">
        <div class="site-footer__side site-footer__side--left">
            <img class="site-footer__logo" src="img/wahf_logo_white-on-black.jpg" alt="WAHF logo">
        </div>

        <p class="site-footer__copy">&copy; 2026 - Dany Bréelle</p>

        <div class="site-footer__side site-footer__side--right">
            <img class="site-footer__logo" src="img/rgssa-logo_white-on-black.jpg" alt="RGSSA logo">
        </div>
    </div>
</footer>
