<nav>
    <ul>
        <li><a href="index.html" id="nav-home" data-i18n="nav-home">Accueil</a></li>
        <li><a href="map_dentrecasteaux.html" id="nav-map-dentre" data-i18n="nav-map-dentre">d'Entrecasteaux</a></li>
        <li><a href="map_baudin.html" id="nav-map-baudin" data-i18n="nav-map-baudin">Baudin</a></li>
        <li><a href="resources.html" id="nav-resources" data-i18n="nav-resources">Ressources</a></li>
    </ul>
    <div class="lang-switcher">
        <button type="button" id="lang-fr" title="Passer en Français">
            <img src="img/fr.svg" alt="Français">
        </button>
        <button type="button" id="lang-en" title="Switch to English">
            <img src="img/au.svg" alt="English">
        </button>
    </div>
</nav>
